<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>所有统计项列表</title>
        <link rel="stylesheet" href="/css/item/show.css" type="text/css" />
    </head>
    <body>
        <% include ../common/header.html %>
        <div id="main">
        	<div id="pagesCon">
        		<!--显示所有的页面数据-->
        	</div>
        	<div id="itemsCon">
        		<!--显示所有的统计数据-->
        	</div>
        </div>
        <% include ../common/footer.html %>
        <script type="text/javascript" src="/js/jslib/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="/js/jslib/underscore.js"></script>
        <script type="text/javascript">
        	var pages = '<%- pages%>', 
        		items = '<%- items%>';

        	jQuery(document).ready(function(){
        		_.templateSettings = {
				  	interpolate : /\{\{(.+?)\}\}/g
				};
        		var $ = jQuery, 
        			$pagesCon = $('#pagesCon'), 
        			$itemsCon = $('#itemsCon'), 
        			pagesArr = JSON.parse(pages), 
        			itemsArr = JSON.parse(items), 
        			pageTpl = _.template('<label for="page{{pageIndex}}"><input id="page{{pageIndex}}" type="checkbox" data-pageindex="{{pageIndex}}" />{{pageName}}</label>'), 
        			itemTable = '<'
        			itemTpl = _.template('<tr data-pageindex="{{pageIndex}}"><td class="item-name">{{name}}</td><td class="item-desc">{{description}}</td><td class="item-calc">{{calc}}</td><td class="item-page">{{pageName}}</td><td class="item-author">{{author}}</td><td class="item-adddate">{{createDate}}</td><td class="item-alterdate">{{updateDate}}</td></tr>');

        		function initPages(){
        			var out = [];
        			pagesArr.forEach(function(page){
        				out.push(pageTpl(page));
        			});
        			$pagesCon[0].innerHTML = out.join('');
        		}

        		function initItems(arr){
        			var out = ['<table><thead><td class="item-name">统计名</td><td class="item-desc">统计描述</td><td class="item-calc">计算方法</td><td class="item-page">所属页面</td><td class="item-author">作者</td><td class="item-adddate">添加日期</td><td class="item-alterdate">修改日期</td></thead><tbody>'];
        			arr.forEach(function(item){
        				out.push(itemTpl(item));
        			});
        			out.push('</tbody></table>')
        			$itemsCon[0].innerHTML = out.join('');
        		}

        		initPages();
        		itemsArr.forEach(function(item){
        			var i = item.pageIndex;
        			pagesArr.forEach(function(p){
        				if(p.pageIndex == i){
        					item['pageName'] = p.pageName;
        				}
        			});
        		});
        		initItems(itemsArr);
        	});
        </script>
    </body>
</html>

